<div class="search_bar">
	<%= form_for @route_record do |f| %>
	<div class="center">
		<%= f.text_field :from, :id => "from", :placeholder => "起点", :"data-provide" => "typehead" %>
		<%= f.text_field :to, :id => "to", :placeholder => "终点", :"data-provide" => "typehead" %>
		<%= f.hidden_field :lng_s %>
		<%= f.hidden_field :lat_s %>
		<%= f.hidden_field :lng_d %>
		<%= f.hidden_field :lat_d %>
		<%= f.hidden_field :data %>
		<button name="search" type="submit" class="btn btn-success">搜</button>
		<button name="commit" type="submit" class="btn btn-primary">新建</button>
	</div>
	<% end %>
	<div id="info"></div>
</div>
