<% if signed_in? %>
<p>Hello <%= current_user.email %></p>
<% else %>
<% end %>
<div id="main_map">
	<div id="map_container" class="imgborder"></div>
</div>
<%= render 'shared/search_form' %>

<div>debug:</div>
<div>var: <%= @debug if !@debug.nil? %></div><br>
<%= link_to "inbox", :controller => "conversations", :action => "index" %>
<%= form_tag do %>
	content
<% end %>