<h1>Listing filter_items</h1>

<table>
  <tr>
    <th>Driver</th>
    <th>Result</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @filter_items.each do |filter_item| %>
  <tr>
    <td><%= filter_item.driver_id %></td>
    <td><%= filter_item.result_id %></td>
    <td><%= link_to 'Show', filter_item %></td>
    <td><%= link_to 'Edit', edit_filter_item_path(filter_item) %></td>
    <td><%= link_to 'Destroy', filter_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Filter item', new_filter_item_path %>
