<header>
	<div class="hheader">
		<div class="nav-bar">
			<div class="logo">
				<a href="/"><%= image_tag("rails.png", :alt => "demo", :class => "round icon") %></a>
			<ul class="haccount">
				<% if signed_in? %>
				<li>
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<%= current_user.email %>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profile", current_user %></li>
							<li><%= link_to "Settings", edit_user_path(current_user) %></li>
							<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
						</ul>
					</div>
				</li>
				<li class="sns weibo">
					<a title="微博登陆" href="#">
						<div class="weibo-icon">
							<%= image_tag("loginbtn_04.png", :alt => "weibo", :class => "round") %>
						</div>
					</a>
				</li>
				<li class="sns qq">
					<a title="QQ登陆" href="#">
						<div class="weibo-icon">
							<%= image_tag("loginbtn_03.png", :alt => "QQ", :class => "round") %>
						</div>
					</a>
				</li>
				

				<% else %>
				<li><%= link_to "Sign in", signin_path %></li>
				<li><%= link_to "Sign up", signup_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
</header>