<header>
	<div class="hheader">
		<div class="nav-bar">
			<%= image_tag("rails.png", :alt => "demo", :class => "round icon") %>
			<ul class="haccount">
				<li class="sns">
					<a href="#"><div class="weibo icon">weibo icon</div></a>
					<a href="#"><div class="QQ icon">QQ icon</div></a>
				</li>
				<% if signed_in? %>
				<li>
					<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<%= current_user.email %>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to "Profile", current_user %></li>
							<li><%= link_to "Settings", edit_user_path(current_user) %></li>
							<li><%= link_to "Sign out", signout_path, :method => :delete %></li>
						</ul>
					</div>
				</li>
				<% else %>
				<li><%= link_to "Sign in", signin_path %></li>
				<li><%= link_to "Sign up", signup_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
</header>